<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe By ID</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->

            <!-- recipe main data -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" th:text="'Recipe No. ' + ${recipe.id}">Recipe</h1>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Description</th>
                                <th>Prep Time</th>
                                <th>Cook Time</th>
                                <th>Servings</th>
                            </tr>
                            </thead>

                            <tr>
                                <td th:text="${recipe.description}"></td>
                                <td th:text="${recipe.prepTime} + ' mins'"></td>
                                <td th:text="${recipe.cookTime} + ' mins'"></td>
                                <td th:text="${recipe.servings} + ' servings'"></td>
                            </tr>
                        </table>

                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Source</th>
                                <th>Difficulty</th>
                            </tr>
                            </thead>

                            <tr>
                                <td th:text="${recipe.getUrl()}"></td>
                                <td th:text="${recipe.getDifficulty()}"></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <!-- notes -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Recipe Notes</h1>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Notes</th>
                            </tr>
                            </thead>

                            <tr>
                                <td th:text="${recipe.notes.recipeNotes}"></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <!-- ingredients -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Ingredients</h1>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">

                        <ul>
                            <li th:each="ing:${recipe.ingredients}">
                                <div th:text="${ing.amount} + ' ' + ${ing.uom.description} + ' of ' + ${ing.description}"></div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- ingredients -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Directions</h1>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <div th:text="${recipe.getDirections()}"></div>
                    </div>
                </div>
            </div>

            <!-- categories -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Recipe Categories</h1>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">

                            <ul>
                                <li th:each="cat:${recipe.categories}">
                                    <div th:text="${cat.getDescription()}"></div>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>